@import url(_reset.css);


body a {
    text-decoration:  none;
    color: inherit;
}

/* Containers */

.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 2rem 0;
}

.feedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem 5rem;
}

.postContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem 5rem;
}


.loginContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0 2rem 0;
}


/* Buttons */

#createPostButton {
    display: none;
}

.postButton {
    text-align: center; 
    margin-top: 20px; 
}
  
.postLink {
display: inline-block; 
padding: 10px 20px; 
font-size: 16px; 
color: white;
background-color: #007bff; 
border: none;
border-radius: 5px; 
text-decoration: none; 
transition: background-color 0.3s; 
}

.postLink:hover {
background-color: #0056b3; 
}

#logoutBtn {
    display: none;
}

/* Posts */ 

.post img { /* Feed */
    max-width: 100%;
    max-height: 500px;
    object-fit: contain;
}

#postMedia { /* Single post */
    max-width: 100%;
    max-height: 500px;
    object-fit: contain;
}

