@import url(_reset.css);


body a {
    text-decoration:  none;
    color: inherit;
}

.temporaryPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}


.feedPageLoginContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0 2rem 0;
}

.introContainerLoginPage {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0 2rem 0;
}